body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

#cover {
  height: 900px;
  position: relative;
  top: -55px;
  width: 100%;
  background: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-8/htmlcss1-img_bicycles.jpeg") no-repeat center bottom;
  background-size: cover;
  background-attachment: fixed;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

ul {
  padding: 0;
}

li {
  color: #14213D;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 16px 20px;
  text-transform: uppercase;
}

#logo {
  color: #FCA311;
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  padding: 0px 50px;
}

.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 280px;
  width: 70%;
}

h1 {
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 72px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
}

h2 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}

h3 {
  color: #14213D;
  font-family: 'Abel', sans-serif;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #FCA311;
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  margin: 0px 0px 50px 0px;
}

p {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #14213D;
  background-image: -webkit-linear-gradient(#FFD194, #BC1324);
  color: #FFF;
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
  padding: 14px;
}

.products {
  background: #EEEFF1;
  box-sizing: border-box;
  width: 90%;
  margin: 20px auto;
  padding: 20px 0px;
  text-align: center;
}

.product {
  display: inline-block;
  margin: 0px 2% 80px 2%;
  text-align: center;
  width: 45%;
}

.product img {
    width: 100%;
}

.blue {
  color: #14213D !important;
}

/*
By default, images are inline elements. 
For images to center properly, they must behave as block-level elements.
*/

/*
3of12 
In the example above, the image is aligned using the __margin property. 
The top and bottom margins of the image's box are set to 0 margin. 
The left and right margins are set to auto, which automatically sets the exact amount of 
margin needed on the left and right sides in order to center the image.
  Note: To align images to the left or right side of a page, you can use the 
float property you learned about earlier.
*/

/*
6of12
A background image is positioned using a 3 by 3 grid (three rows, three columns), meaning 
  there are 9 total possible positions for the image:
left top - top left corner of the element's box.
center top - top center of the element's box.
right top - top right corner of the element's box.
left center - left column, center row.
center center - the center of the element's box.
right center - right column, center row.
left bottom - bottom left corner of the element's box.
center bottom - bottom center of the element's box.
right bottom - bottom right corner of the element's box.
*/

/*
8of12
To modify a background image's size, you can use the __background-size property.
This exercise will focus on two of the most common values of the background-size property:
  cover - expands the image as large as possible to cover the full width or height of a container. 
If the dimensions of the container (say, a div) are larger than the dimensions of the image, 
the image will become distorted. 
This value is best for images that don't communicate important content to the user, like background images.
  contain - expands the image as large as possible, but the image will be letterboxed, 
which means it won't cover the full width or height of a container.
*/

/*
10of12
Gradients are planned to be a part of the newest revision of CSS, CSS3. 
Due to the many browsers available, there is no standard way of defining a gradient 
using CSS (different browsers require different syntax). In this exercise, 
we'll look at one value supported on a couple of major browsers.
The background-image property can be set to the following value:
  -webkit-linear-gradient() - this value accepts two arguments: 
the two colors the linear gradient will transition to and from. 
The colors are usually specified as hex color codes.
*/
