p {
	font-family: Garamond, serif;
}

#intro {
	font-weight: bold;
	color: #000000;
}

div p {
	color: #7AC5CD;
}

li p {
	font-family: Verdana, sans-serif;
	color: #000000;
}

.list_item {
	font-family: Vivaldi, cursive;
}

#summary {
	font-size: 20px;
	color: #000000;
}

/*Add your CSS below!*/
p:first-child {
    color: red;
    font-family: cursive;
}
p:nth-child(2) {
    color: red;
    font-family: tahoma;
}
p:nth-child(3) {
    color: CC0000;
}
p:nth-child(4) {
    color: red;
    background-color: 00FF00;
}
p:nth-child(5) {
    font-size: 22px;
}

/*Add your CSS below!*/

a:hover {
    color: green;
    text-decoration: none;
}

a:first-child {
    color: #CDBE70;
}

a:nth-child(3) {
    color: #FFC125;
}
