/* (c) https://www.codecademy.com/courses/web-beginner-en-TlhFi/ */
p {
	font-family: Courier;
}
span {
	background-color: yellow;
}

/* color palettte in HEX */
h1 {
	color: #8B1C62;
}

h2 {
	color: #FF7256;
}

h3 {
	color: #FFC125;
}

h4 {
	color: #54FF9F;
}

h5 {
	color: #530EE8;
}

h6 {
	color: #8B668B;
}

/* (c) https://www.codecademy.com/courses/web-beginner-en-TlhFi/ */
/*Add your CSS below!*/
td {
    height: 50px;
    border: 1px dashed blue;
}
table {
    border: 1px solid black;
}

img {
	display: block;
	height: 100px;
	width: 300px;
	margin: auto;
}

p {
	text-align: center;
	font-family: Garamond, serif;
	font-size: 18px;
}

div {
    margin: auto;
	text-align: center;
}
/*Start adding your CSS below!*/
a {
	text-decoration: none;
	font-family: Garamond, serif;
	color: red;
}
